language: python
notifications:
  email: false
compiler:
  - clang
  - gcc
python:
  - 2.7
install:
  - sudo pip install pytest
  - sudo apt-get update
  - sudo apt-get install -y gcc-multilib
  - sudo apt-get install -y zlib1g-dev
  - sudo apt-get install -y zlib1g-dev:i386
  - sudo apt-get install -y gcc
  - sudo apt-get install -y valgrind
before_install:
  - pip install -r tests/requirements.txt
  - git clone https://github.com/jmcnamara/libxlsxwriter.git
  - cd libxlsxwriter
  - make
  - sudo make install
  - cd ../
  - rm libxlsxwriter/ -rf
script:
  - CFLAGS="-coverage" python setup.py build_ext --inplace
  - python setup.py install
  - make test
  - find build
  - gcov *.c -o build/lib.linux-x86_64-2.7/
after_success:
  - bash <(curl -s https://codecov.io/bash)
