name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          sudo pip install pytest
          sudo apt-get update
          sudo apt-get install -y gcc-multilib
          sudo apt-get install -y zlib1g-dev
          sudo apt-get install -y gcc
          sudo apt-get install -y valgrind
          git clone https://github.com/jmcnamara/libxlsxwriter.git
          cd libxlsxwriter
          make
          sudo make install
          cd ../
          rm libxlsxwriter/ -rf
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist
          twine upload dist/*
